{
    "title": "{{ title }}",
    "body": "{{ body }}",
    "head": "{{ head_branch }}",
    "base": "{{ base_branch }}",
    "draft": {{ draft|default(false)|tojson }},
    "maintainer_can_modify": {{ allow_maintainer_edits|default(true)|tojson }}
}
